<?xml version="1.0" encoding="utf-8"?>  
<configuration>
  <appSettings> 
    <add key="ApplicationURL" value="http://172.25.246.152:82/" />
    <add key="BrowserType" value="InternetExplorer" />
    <!--Android,Chrome,Firefox,InternetExplorer,IPad,IPhone,Opera,Safari-->
    <add key="Platform" value="Windows" />
    <!--WinNT, Windows, XP, Vista,Mac,Unix,Linux,Android-->
    <add key="ServerURL" value="http://localhost:4444/wd/hub" />
    <add key ="UN1" value ="testuser1"/>
    <add key="UN1Password" value ="123456"/>
    <add key ="UN2" value ="testuser2"/>
    <add key="UN2Password" value ="123456"/>
    <add key ="RegularUser" value="user1"/>
    <add key ="RegularUserPassword" value="123456"/>
    <add key="DefaultConnection" value="Data Source=Aditidt861;Initial Catalog=Playground;User Id=sa;Password=Aditi01*" />
    <add key="DriverDirectory" value=""/>
    <add key ="UseUI" value="0"/>
  </appSettings>  
</configuration>